/*********************************************


**********************************************/

body {
  font-family: sans-serif;
  margin: 0;
}

#app {
  height: 100vh;

/* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

#app > header {
  grid-area: 'header';
}
 
#app > main {
  grid-area: 'main';
}
 
#app > footer {
  grid-area: 'footer';
}

header {
  height: 150px;
  background-color: #222;
}

main {
  font-family: 'modula-round-outlined', sans-serif;
  font-size: 5rem;
  line-height: 1.5rem;
  text-align: center;
  overflow: auto;
  color: #000;
  /* text-transform: uppercase; */
}

footer {
  height: 200px;
  background-color: #ff0;
}

h1 {
  font-family: 'modula-round-outlined', sans-serif;
  font-size: 5rem;
  text-align: center;
  color: yellow;
  text-transform: uppercase;
}


/* Hydrophilia Iced Regular

font-family: hydrophilia-iced, sans-serif;

font-weight: 400;

font-style: normal;


Hydrophilia Liquid Regular

font-family: hydrophilia-liquid, sans-serif;

font-weight: 400;

font-style: normal; */
