/*********************************************



**********************************************/

body {
  margin: 0;
  background: #bbb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  font-family: monospace;
  font-size: 14px;
  color: #222;
}

section {
  text-align: center;
  position: relative;
}

section p {
  margin-top: 90vh;
}

section:first-child {
  background: #D8D055;
}

section:nth-child(2) {
  background: #CD8989;
}

section:nth-child(3) {
  background: #062C3C;
}

section:nth-child(4) {
  background: #8D389F;
}

section:nth-child(5) {
  background: #00FF7B;
}

section:nth-child(6) {
  background: #FF00C8;
}

section:nth-child(7) {
  background: #006699;
}
