/*********************************************



**********************************************/

body {
  margin: 0;
  background: #bbb;
  font-family: monospace;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0);
}

h1 {
  padding-top: 20px;
  font-family: sans-serif;
  font-size: 1.45rem;
}

main {
  display: grid;
  /* grid-template-rows: repeat(4, 1fr); */
  grid-template-columns: repeat(7, 1fr);
}

select, input {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.radiobtns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radiobtns input {
  margin: 0 10px 30px;
}

/*
.prison {
  position: absolute;
  font-family: Helvetica, sans-serif;
  color: black;
  background-color: white;
  display: inline-block;
  padding: 1px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 3px solid black;
}

#prisoner {
  font-size: 1em;
} */

button {

}

#open-input-form {
  position: absolute;
  display: block;
  padding: 10px;
  left: 50%;
  top: 40%;
}

#erase-data {
  /* display: block; */
  /* position: absolute; */
  padding: 10px;
  top: 10px;
  right: 10px;
}

#imgdisplaybutton {
  position: absolute;
  display: block;
  padding: 10px;
  right: 30px;
  top: 10%;
}

.titleimage img {
  display: block;
  /* margin: 0 auto; */
  margin-top: 30px;
}

.titleimage {
  margin-top: 0;
  padding-left: 30px;
  color: black;
  max-width: 430px;
}

.xtraspace {
  margin-top: 200px;
  padding: 30px;
  width: 115px;
}
