body {
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
  font-family: Tahoma, sans-serif;
  font-weight: 300;
  color: #333;
}

header,
footer,
main {
  grid-column: 1 / span 5;
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: 100;
  font-size: 2.5em;
  letter-spacing: .5px;
}
