/*********************************************



**********************************************/

body {
  font-family: sans-serif;
  display: grid;
}

main {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 15%;
  width: 30%;
  min-width: 300px;
}

section {
  padding: 5%;
}

label {
  color: #222;
}

button {
  display: inline-block;
}

#box {
  background: #000;
  height: 20px;
  margin-bottom: 10px;
  border: 1px solid #222;
}
