/*********************************************



**********************************************/

body {
  font-family: sans-serif;
  display: grid;
  background: #ddd;
}

.datecolorpicker {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 13%;
  width: 90%;
}

section {
  padding: 2%;
}

label {
  color: #222;
}

button {
  display: inline-block;
}

.box {
  display: block;
  margin: 0 auto;
  width: 30%;
}

#line {
  background: #000;
  height: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px solid #222;
}

.sliderspg {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(50, 1fr);
}
